:root {
  --color-primary: #e46ea5;
  --color-primary-light: #eb8f8f; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 1px; }

header {
  height: 15vh;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  font-weight: 500;
  z-index: -1;
  background-color: transparent; }

.Main {
  background-position: top;
  font-size: 1.4rem; }

.Section1 {
  background-image: url("../img/img5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 85vh;
  text-align: center;
  display: flex;
  flex-direction: row; }

.sub {
  height: 110vh;
  padding: 7rem 1rem;
  display: flex;
  flex-direction: row;
  margin-left: 2.5rem;
  background-color: #f8eeef; }

.Section2 {
  height: 110vh; }

.Section2,
.Section3 {
  margin: 6rem 3rem;
  padding: 4rem 1rem;
  text-align: center; }

.Section3 {
  height: 210vh; }

.footer {
  background-image: linear-gradient(to right bottom, rgba(145, 209, 209, 0.9), rgba(255, 255, 255, 0.6));
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8rem 13rem; }

.heading-primary {
  font-size: 2.7rem;
  padding-top: 5rem;
  color: #91d1d1; }

.heading-secondary {
  color: #151616;
  font-size: 2.6rem;
  margin-bottom: 2rem; }

.heading-tertiary {
  color: #151616;
  font-size: 2rem;
  padding-bottom: 1rem; }

.heading-primary:after,
.heading-secondary:after {
  display: block;
  height: 2px;
  background-color: #ef4565;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 15px; }

.Paragraph {
  line-height: 1.4;
  margin-bottom: 4rem;
  padding-top: 2rem; }

.Logo {
  text-align: center;
  margin: 0rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .Logo__name {
    font-family: "Montserrat", sans-serif;
    color: #080102;
    font-size: 3.6rem;
    font-weight: 700; }
  .Logo__more {
    display: flex;
    flex-direction: row; }
  .Logo__icons {
    margin-right: 3rem;
    padding: 1rem 1rem; }

.Menu {
  margin: 0 auto;
  color: #080102;
  font-size: 1.6rem; }
  .Menu ul {
    list-style: none;
    color: #0f0f0f;
    display: flex;
    margin: 0 auto; }
    .Menu ul li {
      padding: 1rem 3rem; }
  .Menu a {
    text-decoration: none;
    color: inherit; }

.Header__content {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .Header__content h1 {
    margin: 5rem 1rem; }
  .Header__content p {
    margin: 2rem; }

.Header__image {
  width: 60%; }
  .Header__image figure {
    margin-top: 2rem;
    height: 100%; }
  .Header__image img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 30rem;
    border-top-right-radius: 30rem; }

.content1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 7rem 5rem; }

.content2 {
  width: 50%; }

.sub-content {
  width: 40%;
  margin-top: 13rem;
  padding: 2rem 8rem; }

.sub-contentTwo {
  width: 40%;
  padding: 9rem 1rem; }

.sub-img,
.sub-imgTwo {
  display: flex;
  flex-direction: row;
  width: 60%; }
  .sub-img img,
  .sub-imgTwo img {
    height: 100%;
    width: 100%; }

.sub-img img {
  border-top-left-radius: 7rem; }

.sub-imgTwo img {
  border-top-right-radius: 7rem; }

.sub-img1 {
  width: 45%;
  height: 85vh;
  padding-top: 10rem;
  margin-right: -10rem;
  z-index: 1000;
  transition: all 0.4s; }
  .sub-img1:hover {
    box-shadow: 0 11rem 2rem rgba(168, 143, 143, 0.15);
    z-index: 1; }

.sub-img4 {
  width: 45%;
  transform: translateX(-10rem);
  height: 85vh;
  padding-top: 10rem; }

.sub-img3 {
  height: 75vh;
  width: 50%; }

.sub-img2 {
  width: 55%;
  z-index: 1;
  transition: all 0.4s; }
  .sub-img2:hover {
    box-shadow: 0 11rem 2rem rgba(168, 143, 143, 0.15);
    z-index: 1000; }

.footer ul {
  list-style: none; }

.footer ul li {
  padding: 3px; }

.footer li a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #ef4565; }

.footer li a:hover {
  color: inherit; }

.footer form #input {
  background-color: #f0d9dd;
  padding: 1rem;
  border: none;
  color: #ef4565;
  width: 100%;
  border: 1px solid #ef4565;
  outline: none; }

.footer form #input:hover {
  border: 1px solid #151616; }

.Cards {
  display: flex;
  flex-direction: row;
  height: 90vh;
  margin-bottom: 2rem; }

.card {
  width: 30%;
  height: 65vh;
  margin-top: 3rem;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s; }
  .card__icon {
    transform: translateY(-5rem);
    background-color: #0a0101;
    color: white;
    float: left;
    font-size: 2rem;
    padding: 1rem;
    opacity: 0;
    transition: all 0.5s; }
    .card__icon:hover {
      background-color: #531010; }
  .card img {
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s; }
  .card img:hover {
    opacity: 1;
    transform: scaleY(1.01);
    box-shadow: 0 1rem 2rem rgba(177, 163, 163, 0.15); }

.card:hover {
  opacity: 1; }

.card:hover .card__icon {
  transform: translateY(-6rem);
  opacity: 1; }

.one {
  background-image: url("../img/skin13.jpg"); }

.two {
  background-image: url("../img/skin19.jpg"); }

.three {
  background-image: url("../img/skin12.jpg"); }

.four {
  background-image: url("../img/img1.jpg"); }

.five {
  background-image: url("../img/img6.jpg"); }

.six {
  background-image: url("../img/img5.jpg"); }

.card:not(:last-of-type) {
  margin-right: 4rem; }

.button, .button:link, .buttonvisited {
  padding: 1rem 4rem;
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.4s; }
  .button:hover, .button:link:hover, .buttonvisited:hover {
    background-color: #ef4565;
    box-shadow: 0 1rem 2rem rgba(128, 128, 128, 0.15);
    transform: translateY(-2px); }

.cart {
  margin: 1rem;
  background-color: white;
  border: 1px solid #302f2f; }

.products, .products:link, .productsvisited {
  margin-top: 3rem;
  padding: 1rem 5rem;
  border: 2px solid #000000; }

.productsTwo {
  float: center; }
