.button {
  &,
  &:link,
  &visited {
    padding: 1rem 4rem;
    font-size: inherit;
    // background-color: #f0d9dd;

    text-decoration: none;

    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.4s;

    &:hover {
      background-color: #ef4565;

      box-shadow: 0 1rem 2rem rgba(grey, 0.15);
      transform: translateY(-2px);
    }
  }
}
.cart {
  margin: 1rem;
  background-color: white;
  border: 1px solid #302f2f;

  // border: 1px solid #ef4565;
}
.products {
  &,
  &:link,
  &visited {
    margin-top: 3rem;
    padding: 1rem 5rem;
    border: 2px solid #000000;

    @media only screen and (max-width: 800px) {
      margin-left: 25vw;
      margin-top: 2rem;
    }
  }
}

.productsTwo {
  // margin-left: 5rem;
  float: center;
}
