.Cards {
  display: flex;
  flex-direction: row;
  height: 90vh;
  // background-color: #534f4f;
  margin-bottom: 2rem;
  // align-items: left;

  // @media only screen and (max-width: $bp-large) {
  //   height: 80vh;
  // }

  @media only screen and (max-width: 950px) {
    margin-bottom: 0;
  }

  @media only screen and (max-width: 550px) {
    height: 65vh;
  }
}
.flexCard {
  display: flex;
  flex-direction: row;
  // padding: 0 7rem;
  // margin-left: 1.5rem;
  width: 70%;

  // background-color: rgb(48, 45, 46);

  @media only screen and (max-width: 950px) {
    flex-direction: column;
    width: 50%;
  }

  .one,
  .two,
  .four,
  .five {
    width: 45%;
    // margin-left: 2rem;
    // width: 25%;

    @media only screen and (max-width: 950px) {
      width: 100%;
    }
  }
}

.two,
.five {
  @media only screen and (max-width: 950px) {
    // margin: 0 auto;
    // width: 10%;
    margin-left: 15vw;
    // width: 60vw;
    // height: 40vh;
    // background-color: yellow;
    display: none;
  }
}

.three,
.six {
  width: 30%;
  margin-left: 1rem;
  // background-color: yellow;

  @media only screen and (max-width: 950px) {
    width: 48%;
  }

  @media only screen and (max-width: 400px) {
    // margin-left: 0;
  }
}

.card {
  // width: 33%;
  height: 65vh;
  // background-color: red;

  border-radius: 1rem;

  margin-top: 3rem;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1rem 10 20rem rgba(#dd0e0e, 0.7);
  transition: all 0.5s;

  @media only screen and (max-width: 1100px) {
    height: 60vh;
    // width: 40%;
  }
  @media only screen and (max-width: 950px) {
    margin-bottom: 2rem;
  }

  @media only screen and (max-width: 550px) {
    height: 40vh;
    // width: 40%;
  }

  &__icon {
    transform: translateY(-5rem);
    background-color: #0a0101;
    color: white;
    // float: left;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;

    opacity: 0;
    transition: all 0.5s;

    &:hover {
      background-color: rgb(83, 16, 16);
    }
  }

  img {
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
  }

  img:hover {
    opacity: 1;
    transform: scaleY(1.01);
    box-shadow: 0 1rem 2rem rgba(#b1a3a3, 0.15);
  }

  // img:hover .card__icon {
  //   transform: translateY(-5rem);
  // }
}

.card:hover {
  opacity: 1;
}

.card:hover .card__icon {
  transform: translateY(-6rem);
  opacity: 1;
}

.one {
  // background-image: url("../img/skin13.jpg");

  background-image: url("../img/skin13.jpg");
  //   background-position: cover;
}
.two {
  background-image: url("../img/skin19.jpg");
}
.three {
  background-image: url("../img/skin12.jpg");
}
.four {
  background-image: url("../img/img1.jpg");
}
.five {
  background-image: url("../img/img6.jpg");
}
.six {
  background-image: url("../img/img5.jpg");
}

.card:not(:last-of-type) {
  margin-right: 4rem;
  //   background-color: #741f49;
}
