header {
  //   background-color: rgb(228, 228, 170);
  height: 18vh;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;
}

// rgba(--color-primary, 0.9),
// rgba(--color-primary-light, 0.6)
.Main {
  background-image: linear-gradient(
    to right bottom,
    rgba(rgb(36, 129, 216), 0.9),
    rgba(white, 0.6)
  );

  font-size: 1.4rem;
}

.Section1 {
  height: 85vh;
  text-align: center;

  //   background-image: url("../img/skin12.jpg");
  //   background-size: cover;
  //   background-repeat: no-repeat;
  background-position: top;
}

.sub {
  height: 100vh;
  padding: 7rem 1rem;

  display: flex;
  flex-direction: row;
  margin-left: 2.5rem;
  background-color: #f8eeef;
}

.Section2 {
  height: 110vh;
}
.Section2,
.Section3 {
  margin: 6rem 3rem;
  padding: 4rem 1rem;
  text-align: center;
  //   display: flex;
  //   flex-direction: row;

  //   background-color: palevioletred;
}

.Section3 {
  height: 210vh;
}

.Section4 {
  height: 100vh;
  background-color: #ef4565;
}
