header {
  // background-color: rgb(228, 228, 170);
  // position: sticky;
  // top: 0;
  height: 16vh;
  display: flex;
  flex-direction: column;
  // border-bottom: 1px solid black;
  font-weight: 500;
  z-index: -1;
  // position: absolute;

  background-color: transparent;
}

// rgba(--color-primary, 0.9),
// rgba(--color-primary-light, 0.6)
.Main {
  // background-image: linear-gradient(
  //     to right bottom,
  //     rgba(#91d1d1, 0.6),
  //     rgba(white, 0.2)
  //   ),
  //   url("../img/image2.jpg");
  // margin: 0 auto;

  // background-image: url("../img/img27.jpg");
  // background-color: #91d1d1;
  // bac2 bac3
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  background-position: top;
  // background-position: bottom;
  // pic16 pic19-- pic17 skin20
  font-size: 1.4rem;
  // height: 100vh;
}

.Section1 {
  // background-image: url("../img/img5.jpg");
  //image 2
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  height: 100vh;

  // text-align: center;

  // display: flex;
  // flex-direction: row;
}

.sub {
  height: 110vh;
  padding: 7rem 4rem;

  display: flex;
  flex-direction: row;
  margin-left: 2.5rem;
  background-color: #f8eeef;

  @media only screen and (max-width: 800px) {
    flex-direction: column;
    padding: 2rem;

    height: 150vh;
  }

  @media only screen and (max-width: 650px) {
    height: 135vh;
  }
}

.Section2 {
  height: 110vh;
}
.Section2,
.Section3 {
  margin: 6rem 3rem;
  padding: 4rem 1rem;
  text-align: center;
  padding: 4rem;
  //   display: flex;
  //   flex-direction: row;

  //   background-color: palevioletred;
}

.Section3 {
  height: 110vh;
}

// .Section4 {
//   height: 100vh;
//   background-color: #ef4565;
// }

.SubSections {
  height: 155vh;
  padding: 4rem;
  // background-color: #91d1d1;
}

.footer {
  background-image: linear-gradient(
    to right bottom,
    rgba(#91d1d1, 0.9),
    rgba(white, 0.6)
  );
  // background-color: #91d1d1;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8rem 13rem;
}
